:host ::ng-deep {
    ion-checkbox {
        position:relative;
    }
    ion-checkbox[slot=end] {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    ion-icon[slot=start] {
        margin-inline-start: 0px;
        margin-inline-end: 15px;
    }
      
    ion-icon[slot=end] {
        margin-inline-start: 0px;
    }

    ion-item.end-item-holder {
        --padding-end: 0px;
        --inner-padding-end: 0px;
        --ripple-color: transparent;
        --background-hover: transparent;
    }

    ion-item.start-item-holder {
        --padding-start: 0px;
        --inner-padding-start: 0px;
    }
}